* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
}
.code-area {
  margin-top: 50px;
  background-color: #16161d;
  color: white;
  display: flex;
  flex-direction:column;
  width: 50%;
  border-right:1px solid #555;
}
.code-area textarea {
  background-color: #16161d;
  color: white;
  resize: none;
  outline: none;
  width: 100%;
  height: 33.33%;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
}
.preview-area {
  width: 50%;
}
.preview-area iframe {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  border: none;
}
::placeholder{
  color: white;
}
.title{
  text-align: center;
}